<div class="dialog-content">
    <form>
        <div class="form-group">
            <label>Weapon Name</label>
            <input type="text"
                   name="weaponName"
                   value="{{weaponName}}"
                   data-dtype="String" />
        </div>
        <div class="form-group">
            <label>Attacker Name</label>
            <input type="text"
                   name="attackerName"
                   value="{{attackerName}}"
                   data-dtype="String" />
        </div>
        <div class="form-group">
            <label>Roll Name</label>
            <select class="roll-name-select"
                    name="rollName">
                {{selectOptions rollData labelAttr="label"}}
            </select>
        </div>
        {{#if includeToHit}}
            <hr>
            <div class="form-group">
                <label>Weapon To Hit Bonus</label>
                <input type="text"
                       class="to-hit-bonus-input"
                       name="toHitBonus"
                       value="{{rollData.Normal.toHitBonus}}"
                       disabled="true"
                       data-dtype="Dice" />
            </div>
            <div class="form-group">
                <label>Other To Hit bonuses</label>
                <input type="text"
                       name="othertoHitBonuses"
                       data-dtype="Dice" />
            </div>
        {{/if}}
        {{#if includeDamage}}
            <hr>
            <div class="form-group">
                <label>Weapon Damage Roll</label>
                <input type="text"
                       class="damage-roll-input"
                       name="damageRoll"
                       value="{{rollData.Normal.damageRoll}}"
                       disabled="true"
                       data-dtype="Dice" />
            </div>
            <div class="form-group">
                <label>Other Damage bonuses</label>
                <input type="text"
                       name="otherDamageBonuses"
                       data-dtype="Dice" />
            </div>
            <div class="form-group">
                <label>Damage Type</label>
                <select name="damageType">
                    <option value=""
                            selected>None</option>
                    <option value="Automatic">Automatic</option>
                    <option value="Burst">Burst</option>
                    <option value="Explosive">Explosive</option>
                    <option value="Laser">Laser</option>
                    <option value="Melee">Melee</option>
                    <option value="Missile">Missile</option>
                    <option value="Single">Single</option>
                </select>
            </div>
        {{/if}}
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button {{cssClass}}"
            data-button="cancel">
        Cancel
    </button>
    <button class="dialog-button {{cssClass}}"
            data-button="normal">
        Roll Attack
    </button>
</div>