<div class="dialog-content">
    <form>
        <table>
            <tr>
                <th>Name</th>
                <th>Bonus</th>
                <th>In Cav</th>
                <th>Combat Speed</th>
                <th>Base Initative Modifiers</th>
            </tr>
            {{#each combatants as |combatant|}}
                <tr>
                    <td>{{combatant.name}}</td>
                    <td><input type="number"
                               name="{{combatant.id}}_bonus"
                               value="0"
                               step="1" /></td>
                    <td>{{#if combatant.hasCav}}<input type="checkbox"
                                   name="{{combatant.id}}_inCav"
                                   class="in-cav-checkbox" />{{/if}}</td>
                    <td class="combat-speed-td">
                        {{#if (gt (len combatant.combatSpeedOptions) 0)}}
                            <select type="checkbox"
                                    name="{{combatant.id}}_combatSpeed"
                                    {{#if combatant.hasCav}}
                                    style="visibility:hidden;"
                                    {{/if}}>
                                {{selectOptions combatant.combatSpeedOptions}}
                            </select>
                        {{/if}}
                    </td>
                    <td class="base-initative-modifiers-td">
                        {{#if combatant.includeModifiers}}
                            <input type="number"
                                   value="{{cavInitativeModifier}}"
                                   disabled="true"
                                   style="display:none;"
                                   class="cav-initative-modifier" />
                            <input type="number"
                                   value="{{pilotInitativeModifier}}"
                                   disabled="true"
                                   style="display:flex;"
                                   class="pilot-initative-modifier" />
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button {{cssClass}}"
            data-button="cancel">
        Cancel
    </button>
    <button class="dialog-button {{cssClass}}"
            data-button="normal">
        Roll Initiatives
    </button>
</div>