<div class="dialog-content">
    <form>
        <div class="form-group">
            <label>Bonus</label>
            <input type="number"
                   name="bonus"
                   value="0"
                   step="1" />
        </div>
        {{#if includeModifiers}}
            <div class="form-group pilot-initative-modifier-div"
                 style="display:flex;">
                <label>Pilot Initiative Modifier</label>
                <input type="number"
                       value="{{pilotInitativeModifier}}"
                       disabled="true" />
            </div>
            <div class="form-group cav-initative-modifier-div"
                 style="display:none;">
                <label>CAV Initiative Modifier</label>
                <input type="number"
                       value="{{cavInitativeModifier}}"
                       disabled="true" />
            </div>
        {{/if}}
        <div class="form-group">
            <label>In CAV</label>
            <input type="checkbox"
                   name="inCav"
                   class="in-cav-checkbox" />
        </div>
        <div class="form-group combat-speed-div"
             style="visibility:hidden;">
            <label>Combat Speed</label>
            <select type="checkbox"
                    name="combatSpeed">
                {{selectOptions combatSpeedOptions}}
            </select>
        </div>
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button {{cssClass}}"
            data-button="cancel">
        Cancel
    </button>
    <button class="dialog-button {{cssClass}}"
            data-button="normal">
        Roll Initiative
    </button>
</div>