<div class="dialog-content">
    <form>
        <table>
            <tr>
                <th>Name</th>
                <th>Bonus</th>
                <th>In Cav</th>
                <th>Combat Speed</th>
            </tr>
            {{#each combatants as |combatant|}}
                <tr>
                    <td>{{combatant.name}}</td>
                    <td><input type="number"
                               name="{{combatant.id}}_bonus"
                               value="0"
                               step="1" /></td>
                    <td><input type="checkbox"
                               name="{{combatant.id}}_inCav"
                               class="in-cav-checkbox" /></td>
                    <td class="form-group combat-speed-td"
                        style="visibility:hidden;">
                        <select type="checkbox"
                                name="{{combatant.id}}_combatSpeed">
                            <option value="0">{{localize "METALSAVIORS.CombatSpeedHalt"}}</option>
                            <option value="1">{{localize "METALSAVIORS.CombatSpeedWalk"}}</option>
                            <option value="2">{{localize "METALSAVIORS.CombatSpeedPace"}}</option>
                            <option value="3">{{localize "METALSAVIORS.CombatSpeedGallop"}}</option>
                            <option value="4">{{localize "METALSAVIORS.CombatSpeedSprint"}}</option>
                        </select>
                    </td>
                </tr>
            {{/each}}
        </table>
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button {{cssClass}}"
            data-button="cancel">
        Cancel
    </button>
    <button class="dialog-button {{cssClass}}"
            data-button="normal">
        Roll Initiatives
    </button>
</div>