<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">1d20</span>
                        <span class="part-total">{{rollResult}}</span>
                    </header>
                    <ol class="dice-rolls">
                        <li class="roll die d20">{{rollResult}}</li>
                    </ol>
                </div>
            </section>
        </div>
        <h4 class="dice-total {{attributeCheckResultClass}}">{{attributeCheckresult}}</h4>
    </div>
</div>