{{#each data.attributes as |attribute key|}}
	<div class="atb">
		<div>{{attribute.label}}</div>
		<div class="exit-submit">
			<div class="atb-value" data-atb-key="{{key}}"><input
					type="text"
					name="data.attributes.{{key}}.value"
					value="{{attribute.value}}"
					data-dtype="Number"
					disabled="true"
				/></div>
			<div class="base-bonus-popup">
				<div class="flexcol">
					<div>Base Value</div>
					<div><input
							type="text"
							title="Base Value"
							name="data.attributes.{{key}}.baseValue"
							value="{{attribute.baseValue}}"
							data-dtype="Number"
						/></div>
				</div>
				<div class="flexcol">
					<div>Other Bonuses</div>
					<div><input
							type="text"
							title="Other Bonuses"
							name="data.attributes.{{key}}.otherBonuses"
							value="{{attribute.otherBonuses}}"
							data-dtype="Number"
						/></div>
				</div>
			</div>
		</div>
	</div>
{{/each}}