<div class="flexrow">
    <div class="column1 flex-3">
        <h3>Speeds</h3>
        <div class="sheet-body-group">
            <div class="flex-1">
                <div>Standard Speed</div>
                <div><input type="text"
                           name="system.speed.standardSpeed"
                           value="{{system.speed.standardSpeed}}"
                           data-dtype="String" /></div>
            </div>
            <div class="flex-1">
                <div>Boost Speed</div>
                <div><input type="text"
                           name="system.speed.boostSpeed"
                           value="{{system.speed.boostSpeed}}"
                           data-dtype="String" /></div>
            </div>
        </div>
        {{> "systems/metalsaviors/templates/actor/parts/actor-combat-speeds.hbs" combatSpeeds = system.speed.combatSpeeds }}
        <h3>Items</h3>
        <div class="sheet-body-group">
            Items for CAVs have not been implemented yet.
        </div>
        {{> "systems/metalsaviors/templates/actor/parts/actor-weapons.hbs" }}
    </div>
    <div class="column2 flex-2">
        <div>
            <h3>CAV Unit Piloting</h3>
            <table>
                <tr>
                    <th>Skill</th>
                    <th>Bonus</th>
                    <th></th>
                </tr>
                {{#each system.cavUnitPiloting as |bonus name|}}
                    <tr>
                        <td class="cav-skill-name"
                            data-prev-name="{{name}}"><input type="text"
                                   value="{{name}}"
                                   data-dtype="String" /></td>
                        <td><input type="text"
                                   name="system.cavUnitPiloting.{{name}}"
                                   value="{{bonus}}"
                                   data-dtype="Number" /></td>
                        <td class="delete-cav-unit-skill"><a><i class="fas fa-trash"></i></a></td>
                    </tr>
                {{/each}}
                <tr>
                    <td class="add-cav-unit-skill-name"><input type="text"
                               data-dtype="String" /></td>
                    <td class="add-cav-unit-skill-value"><input type="text"
                               data-dtype="Number" /></td>
                    <td class="add-cav-unit-skill"><a><i class="fas fa-plus"></i></a></td>
                </tr>
            </table>
        </div>
        {{#if hasPilot}}
            <div class="skills-header">
                <h3>Skills</h3>
            </div>
            <div class="skills">
                {{#if (and system.learnedSkills (gt (len system.learnedSkills) 0))}}
                    <table class="skills-table">
                        {{#each system.learnedSkills as |skill id|}}
                            <tr class="learned-skill item-controls-container item"
                                data-item-id="{{id}}">
                                <td class="div-cell-wrapper">
                                    <div class="name">{{skill.name}}
                                    </div>
                                    <div class="item-controls">
                                        <a class="item-roll rollable"
                                           data-roll-type="item"><i class="fas fa-dice"></i></a>
                                    </div>
                                </td>
                                <td>{{skill.value}}</td>
                            </tr>
                        {{/each}}
                    </table>
                {{else}}
                    <div>No skills have been added to this character yet</div>
                {{/if}}
            </div>
        {{/if}}
        <div>
            <h3>Modules</h3>
            <table>
                <tr>
                    <th>Module</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                {{#each modules as |module id|}}
                    <tr>
                        <td class="cav-trait-name"><input type="text"
                                   value="{{module.name}}"
                                   data-dtype="String" /></td>
                        <td><textarea type="textbox"
                                      disabled="true"
                                      data-dtype="String" />{{module.system.description}}</textarea>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>