{{log this}}
{{#each attributes as |attribute key|}}
    <div class="atb">
        <div>{{lookup ../attributeLabels key}}</div>
        <div class="exit-submit">
            <div class="atb-value" data-atb-key="{{key}}"><input type="text" {{#if attribute.bane}}class="cav-bane"
                    {{/if}} name="data.{{../attributeSection}}.{{key}}.value" value="{{attribute.value}}"
                    data-dtype="Number" disabled="true" /></div>
            {{#if (eq ../popup "true")}}
                <div class="base-bonus-popup">
                    <div class="flexcol">
                        <div>Base Value</div>
                        <div><input type="text" title="Base Value" name="data.{{../attributeSection}}.{{key}}.baseValue"
                                value="{{attribute.baseValue}}" data-dtype="Number" /></div>
                    </div>
                    <div class="flexcol">
                        <div>Other Bonuses</div>
                        <div><input type="text" title="Other Bonuses"
                                name="data.{{../attributeSection}}.{{key}}.otherBonuses"
                                value="{{attribute.otherBonuses}}" data-dtype="Number" /></div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
{{/each}}