<div class="skills-header"><h3>Skills</h3></div>
<div class="skills">
	{{#if (or (gt (len skills.atbSkills) 0) (gt (len skills.learnedSkills) 0))}}
		<table class="skills-table">
			{{#each skills.learnedSkills as |skill id|}}
				<tr class="learned-skill item" data-item-id="{{skill._id}}">
					<td><a class="item-roll rollable" data-roll-type="item">
							{{skill.name}}</a></td>
					<td>{{skill.data.value}}</td>
				</tr>
			{{/each}}
			{{#if
				(and
					(gt (len skills.atbSkills) 0)
					(gt (len skills.learnedSkills) 0)
				)
			}}
				<tr class="table-break"><td colspan="2"></td></tr>
			{{/if}}
			{{#each skills.atbSkills as |skill id|}}
				<tr class="atb-skill item" data-item-id="{{skill._id}}">
					<td>{{skill.name}}</td>
					<td></td>
				</tr>
			{{/each}}
		</table>
	{{else}}
		<div>No skills have been added to this character yet</div>
	{{/if}}
</div>
<div class="weap-prof-header"><h3>Weapon Proficiencies</h3></div>
<div class="weap-profs">
	{{#if (gt (len skills.weaponProficiencies) 0)}}
		<table class="weap-profs-table">
			{{#each skills.weaponProficiencies as |skill id|}}
				<tr
					class="weapon-proficiency item"
					data-item-id="{{skill._id}}"
				>
					<td>{{skill.name}}</td>
				</tr>
			{{/each}}
		</table>
	{{else}}
		<div>No skills or weapon proficiencies have been added to this character
			yet</div>
	{{/if}}
</div>