<div class="sheet-body-header">
    <div class="sheet-body-group">
        <div class="flexcol cav-health-section">
            <div>Head</div>
            <div class="flexrow">
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.head.value"
                        value="{{data.health.head.value}}" data-dtype="Number" /></div>
                <div class="flex0">/</div>
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.head.max"
                        value="{{data.health.head.max}}" data-dtype="Number" /></div>
            </div>
        </div>
        <div class="flexcol cav-health-section">
            <div>Torso</div>
            <div class="flexrow">
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.torso.value"
                        value="{{data.health.torso.value}}" data-dtype="Number" /></div>
                <div class="flex0">/</div>
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.torse.max"
                        value="{{data.health.torso.max}}" data-dtype="Number" /></div>
            </div>
        </div>
        <div class="flexcol cav-health-section">
            <div>Left Arm</div>
            <div class="flexrow">
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.lArm.value"
                        value="{{data.health.lArm.value}}" data-dtype="Number" /></div>
                <div class="flex0">/</div>
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.lArm.max"
                        value="{{data.health.lArm.max}}" data-dtype="Number" /></div>
            </div>
        </div>
        <div class="flexcol cav-health-section">
            <div>Right Arm</div>
            <div class="flexrow">
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.rArm.value"
                        value="{{data.health.rArm.value}}" data-dtype="Number" /></div>
                <div class="flex0">/</div>
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.rArm.max"
                        value="{{data.health.rArm.max}}" data-dtype="Number" /></div>
            </div>
        </div>
        <div class="flexcol cav-health-section">
            <div>Left Leg</div>
            <div class="flexrow">
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.lLeg.value"
                        value="{{data.health.lLeg.value}}" data-dtype="Number" /></div>
                <div class="flex0">/</div>
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.lLeg.max"
                        value="{{data.health.lLeg.max}}" data-dtype="Number" /></div>
            </div>
        </div>
        <div class="flexcol cav-health-section">
            <div>Right Leg</div>
            <div class="flexrow">
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.rLeg.value"
                        value="{{data.health.rLeg.value}}" data-dtype="Number" /></div>
                <div class="flex0">/</div>
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.rLeg.max"
                        value="{{data.health.rLeg.max}}" data-dtype="Number" /></div>
            </div>
        </div>
        <div class="flexcol cav-health-section">
            <div>Reactor</div>
            <div class="flexrow">
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.reactor.value"
                        value="{{data.health.reactor.value}}" data-dtype="Number" /></div>
                <div class="flex0">/</div>
                <div><input class="cav-data flex1" type="text" data-item-path="data.health.reactor.max"
                        value="{{data.health.reactor.max}}" data-dtype="Number" /></div>
            </div>
        </div>
    </div>
</div>
<div class="flexrow">
    <div class="column1">
        <div class="sheet-body-group">
            <div class="flex1">
                <div>MSR:</div>
                <div><input type="text" value="{{data.MSR}}" data-dtype="Number" disabled="true" /></div>
            </div>
            <div class="flex1">
                <div>Detonation Damage:</div>
                <div><input type="text" value="{{data.detonationDamage}}" data-dtype="String" disabled="true" /></div>
            </div>
        </div>
        <h3>Speeds</h3>
        <div class="sheet-body-group">
            <div class="flex1">
                <div>Standard Speed</div>
                <div><input type="text" data-item-path="data.speed.standardSpeed" value="{{data.speed.standardSpeed}}"
                        data-dtype="String" disabled="true" /></div>
            </div>
            <div class="flex1">
                <div>Boost Speed</div>
                <div><input type="text" data-item-path="data.speed.boostSpeed" value="{{data.speed.boostSpeed}}"
                        data-dtype="String" disabled="true" /></div>
            </div>
        </div>
        <div>
            Combat Speeds
            <table>
                <tr>
                    <th></th>
                    <th>Hit Bonus</th>
                    <th>Momentum</th>
                    <th>Spaces Moved</th>
                </tr>
                <tr>
                    <th>Halt</th>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.halt.hitBonus"
                            value="{{data.speed.combatSpeeds.halt.hitBonus}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.halt.momentum"
                            value="{{data.speed.combatSpeeds.halt.momentum}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.halt.spacesMoved"
                            value="{{data.speed.combatSpeeds.halt.spacesMoved}}" data-dtype="Number" disabled="true" />
                    </td>
                </tr>
                <tr>
                    <th>Walking</th>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.walk.hitBonus"
                            value="{{data.speed.combatSpeeds.walk.hitBonus}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.walk.momentum"
                            value="{{data.speed.combatSpeeds.walk.momentum}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.walk.spacesMoved"
                            value="{{data.speed.combatSpeeds.walk.spacesMoved}}" data-dtype="Number" disabled="true" />
                    </td>
                </tr>
                <tr>
                    <th>Pacing</th>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.pace.hitBonus"
                            value="{{data.speed.combatSpeeds.pace.hitBonus}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.pace.momentum"
                            value="{{data.speed.combatSpeeds.pace.momentum}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.pace.spacesMoved"
                            value="{{data.speed.combatSpeeds.pace.spacesMoved}}" data-dtype="Number" disabled="true" />
                    </td>
                </tr>
                <tr>
                    <th>Galloping</th>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.gallop.hitBonus"
                            value="{{data.speed.combatSpeeds.gallop.hitBonus}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.gallop.momentum"
                            value="{{data.speed.combatSpeeds.gallop.momentum}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.gallop.spacesMoved"
                            value="{{data.speed.combatSpeeds.gallop.spacesMoved}}" data-dtype="Number"
                            disabled="true" /></td>
                </tr>
                <tr>
                    <th>Sprinting</th>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.sprint.hitBonus"
                            value="{{data.speed.combatSpeeds.sprint.hitBonus}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.sprint.momentum"
                            value="{{data.speed.combatSpeeds.sprint.momentum}}" data-dtype="Number" disabled="true" />
                    </td>
                    <td><input type="text" data-item-path="data.speed.combatSpeeds.sprint.spacesMoved"
                            value="{{data.speed.combatSpeeds.sprint.spacesMoved}}" data-dtype="Number"
                            disabled="true" /></td>
                </tr>
            </table>
        </div>
        <h3>Items</h3>
        <div class="sheet-body-group">
            Items for CAVs have not been implemented yet.
        </div>
    </div>
    <div class="column2">
        <div class="skills-header">
            <h3>Skills</h3>
        </div>
        <div class="skills">
            {{#if (and learnedSkills (gt (len learnedSkills) 0))}}
                <table class="skills-table">
                    {{#each learnedSkills as |skill id|}}
                        <tr class="learned-skill item-controls-container item" data-item-id="{{skill._id}}">
                            <td class="div-cell-wrapper">
                                <div>{{skill.name}}</div>
                                &nbsp;
                                <div class="item-controls">
                                    <a class="item-roll rollable" data-roll-type="item" data-cav-id="{{../_id}}"><i
                                            class="fas fa-dice"></i></a>
                                    <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </td>
                            <td>{{lookup skill.data.cavValue ../_id}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{else}}
                <div>No skills have been added to this character yet</div>
            {{/if}}
        </div>
    </div>
</div>