<form class="{{cssClass}} {{actor.type}}"
      autocomplete="off">
    <div class="sidebar">
        <div>
            <select class="character-type-select fill-parent-width">
                {{selectOptions characterTypes selected=flags.metalsaviors.characterType}}
            </select>
        </div>
        <div>
            <img class="profile-img"
                 src="{{actor.img}}"
                 data-edit="img"
                 title="{{actor.name}}" />
        </div>
        <div class="attributes">
            <div class="tab"
                 data-group="primary"
                 data-tab="pilot">
                {{> "systems/metalsaviors/templates/actor/parts/actor-attributes.hbs" 
                    attributes=data.attributes
                    attributeSection="attributes"
                    attributeLabels = attributeLabels
                    popup=editable
                    characterType=flags.metalsaviors.characterType}}
            </div>
            {{#each data.cavAttributes as |cavAttributes id|}}
                <div class="tab"
                     data-group="primary"
                     data-tab="cav_{{id}}"
                     data-item-id="{{id}}">
                    {{> "systems/metalsaviors/templates/actor/parts/actor-attributes.hbs"
                        attributes=cavAttributes
                        attributeSection=(concat "cavAttributes." id)
                        attributeLabels = ../attributeLabels
                        cavId = id
                        popup=false
                        characterType=../flags.metalsaviors.characterType}}
                </div>
            {{/each}}
        </div>
    </div>
    <div class="main-body">
        <header>
            <div class="main-body-group">
                <div class="flexcol flex-1">
                    <div>Character Name</div>
                    <div><input class="update-actor"
                               name="name"
                               type="text"
                               value="{{actor.name}}"
                               placeholder="Name" /></div>
                </div>
                <div class="flexcol flex-1">
                    <div>Call Sign</div>
                    <div><input class="update-actor"
                               name="data.callsign"
                               type="text"
                               value="{{data.callsign}}"
                               placeholder="Call Sign" /></div>
                </div>
                {{#if (eq flags.metalsaviors.characterType "character")}}
                    <div class="flexrow flex-1">
                        <div class="flexcol">
                            <div>Level</div>
                            <div><input class="update-actor"
                                       type="text"
                                       name="data.level.value"
                                       value="{{data.level.value}}"
                                       data-dtype="Number" /></div>
                        </div>
                        <div class="flexcol">
                            <div>Experience</div>
                            <div><input class="update-actor"
                                       type="text"
                                       name="data.level.exp"
                                       value="{{data.level.exp}}"
                                       data-dtype="Number" /></div>
                        </div>
                    </div>
                {{else if (eq flags.metalsaviors.characterType "majorCharacter")}}
                    <div class="flexrow flex-1">
                        <div class="flexcol">
                            <div>Level</div>
                            <div><input class="update-actor"
                                       type="text"
                                       name="data.level.value"
                                       value="{{data.level.value}}"
                                       data-dtype="Number" /></div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </header>
        <div class="sheet-tabs"
             data-group="primary">
            <div class="sheet-tab">
                <a data-tab="pilot">Pilot</a>
            </div>
            {{#each cavs as |cav|}}
                <div class="sheet-tab item-controls-container item"
                     data-item-id="{{cav._id}}">
                    <div><a data-tab="cav_{{cav._id}}">{{cav.name}}</a></div>
                    <div class="item-controls">
                        <a class="item-edit"
                           title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete"
                           title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="sheet-body">
            <div class="tab"
                 data-group="primary"
                 data-tab="pilot">
                {{> "systems/metalsaviors/templates/actor/parts/actor-pilot.hbs" 
                    weapons=weapons.pilot
                    editable=editable
                    characterType=flags.metalsaviors.characterType}}
            </div>
            {{#each cavs as |cav|}}
                <div class="tab item"
                     data-group="primary"
                     data-tab="cav_{{cav._id}}"
                     data-item-id="{{cav._id}}">
                    {{> "systems/metalsaviors/templates/actor/parts/actor-cav.hbs" 
                        learnedSkills=../skills.learnedSkills
                        weapons=(lookup ../weapons.cav cav._id)
                        editable=../editable
                        curMovementSpeed=../curMovementSpeed
                        excessMomentum=../excessMomentum
                        CONFIG=../CONFIG
                        characterType=../flags.metalsaviors.characterType
                        flags=../flags}}
                </div>
            {{/each}}
        </div>
    </div>
</form>