<form class="{{cssClass}} {{actor.type}}"
      autocomplete="off">
    <div class="sidebar">
        <div>
            <img class="profile-img"
                 src="{{actor.img}}"
                 data-edit="img"
                 title="{{actor.name}}" />
        </div>
    </div>
    <div class="main-body">
        <header>
            <div class="main-body-group">
                <div class="flexcol flex-1">
                    <div>Drone Name</div>
                    <div><input name="name"
                               type="text"
                               value="{{actor.name}}"
                               placeholder="Name" /></div>
                </div>
            </div>
            <div class="main-body-group">
                <div class="flexcol flex-1">
                    <div>Health</div>
                    <div class="flexrow">
                        <input class="flex-1"
                               name="system.health.value"
                               type="text"
                               value="{{system.health.value}}"
                               placeholder="Name" />
                        <div class="flex-0">/</div>
                        <input class="flex-1"
                               name="system.health.max"
                               type="text"
                               value="{{system.health.max}}"
                               placeholder="Name" />
                    </div>
                </div>
                <div class="flexcol flex-1">
                    <div>MSR</div>
                    <div><input name="system.msr"
                               type="text"
                               value="{{system.msr}}"
                               placeholder="MSR" /></div>
                </div>
                <div class="flexcol flex-1">
                    <div>Operation Range</div>
                    <div><input name="system.range"
                               type="text"
                               value="{{system.range}}"
                               placeholder="Range" /></div>
                </div>
            </div>
        </header>
        <div class="sheet-body">
            <div class="flexrow fill-parent">
                <div class="column1">
                    <div class="fill-parent">
                        <h3>Effect</h3>
                        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
                    </div>
                </div>
                <div class="column2">
                    {{> "systems/metalsaviors/templates/actor/parts/actor-weapons.hbs" }}
                </div>
            </div>
        </div>
    </div>
</form>