<form class="{{cssClass}} {{actor.type}}"
      autocomplete="off">
    <div class="sidebar">
        <div>
            <img class="profile-img"
                 src="{{actor.img}}"
                 data-edit="img"
                 title="{{actor.name}}" />
        </div>
    </div>
    <div class="main-body">
        <header>
            <div class="main-body-group">
                <div class="flexcol flex-1">
                    <div>Name</div>
                    <div><input name="name"
                               type="text"
                               value="{{actor.name}}"
                               placeholder="Name" /></div>
                </div>
            </div>
        </header>
        <div class="sheet-body">
            <div class="fill-parent">
                <div class="fill-parent">
                    <h3>Description</h3>
                    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
</form>