<form class="{{cssClass}} {{actor.type}}"
      autocomplete="off">
    <div class="sidebar">
        <div>
            <select class="character-type-select fill-parent-width">
                {{selectOptions characterTypes selected=flags.metalsaviors.characterType}}
            </select>
        </div>
        <div>
            <img class="profile-img"
                 src="{{actor.img}}"
                 data-edit="img"
                 title="{{actor.name}}" />
        </div>
        <div class="attributes">
            {{> "systems/metalsaviors/templates/actor/parts/actor-attributes.hbs" 
                    attributes=system.attributes
                    attributeSection="attributes"
                    attributeLabels = attributeLabels
                    popup=editable
                    characterType=flags.metalsaviors.characterType}}
            {{!-- {{#each system.cavAttributes as |cavAttributes id|}}
                <div class="tab"
                     data-group="primary"
                     data-tab="cav_{{id}}"
                     data-item-id="{{id}}">
                    {{> "systems/metalsaviors/templates/actor/parts/actor-attributes.hbs"
                        attributes=cavAttributes
                        attributeSection=(concat "cavAttributes." id)
                        attributeLabels = ../attributeLabels
                        cavId = id
                        popup=false
                        characterType=../flags.metalsaviors.characterType}}
                </div>
            {{/each}} --}}
        </div>
    </div>
    <div class="main-body">
        <header>
            <div class="main-body-group">
                <div class="flexcol flex-1">
                    <div>Character Name</div>
                    <div><input class="update-actor"
                               name="name"
                               type="text"
                               value="{{actor.name}}"
                               placeholder="Name" /></div>
                </div>
                <div class="flexcol flex-1">
                    <div>Call Sign</div>
                    <div><input class="update-actor"
                               name="system.callsign"
                               type="text"
                               value="{{system.callsign}}"
                               placeholder="Call Sign" /></div>
                </div>
                {{#if (eq flags.metalsaviors.characterType "character")}}
                    <div class="flexrow flex-1">
                        <div class="flexcol">
                            <div>Level</div>
                            <div><input class="update-actor"
                                       type="text"
                                       name="system.level.value"
                                       value="{{system.level.value}}"
                                       data-dtype="Number" /></div>
                        </div>
                        <div class="flexcol">
                            <div>Experience</div>
                            <div><input class="update-actor"
                                       type="text"
                                       name="system.level.exp"
                                       value="{{system.level.exp}}"
                                       data-dtype="Number" /></div>
                        </div>
                    </div>
                {{else if (eq flags.metalsaviors.characterType "majorCharacter")}}
                    <div class="flexrow flex-1">
                        <div class="flexcol">
                            <div>Level</div>
                            <div><input class="update-actor"
                                       type="text"
                                       name="system.level.value"
                                       value="{{system.level.value}}"
                                       data-dtype="Number" /></div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </header>
        <div class="sheet-tabs"
             data-group="primary">
            <div class="sheet-tab">
                <a data-tab="summary">Summary</a>
            </div>
            <div class="sheet-tab">
                <a data-tab="notes">Notes</a>
            </div>
        </div>
        <div class="sheet-body">
            <div class="tab"
                 data-group="primary"
                 data-tab="summary">
                {{> "systems/metalsaviors/templates/actor/parts/actor-pilot.hbs" 
                    weapons=weapons.pilot
                    editable=editable
                    characterType=flags.metalsaviors.characterType}}
            </div>
            <div class="tab"
                 data-group="primary"
                 data-tab="notes">
                <p>Notes</p>
            </div>
        </div>
    </div>
</form>