<form class="{{cssClass}}"
      autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name"
                       type="text"
                       value="{{item.name}}"
                       placeholder="Name" /></h1>
        </div>
    </header>
    <hr>
    <div class="sheet-body">
        {{#if item.actor}}
            <table>
                <tr>
                    <th>Base Value</th>
                    <th>Increase Per Level</th>
                    <th>Number of Acquisitions</th>
                    <th>Other Bonuses</th>
                    <th>Level Acquired</th>
                    <th>Value</th>
                    <th>Manual Override?</th>
                </tr>
                <tr>
                    <td><input type="text"
                               name="system.baseValue"
                               value="{{system.baseValue}}"
                               data-dtype="Number"
                               {{#disabled system.override.active}}{{/disabled}} /></td>
                    <td><input type="text"
                               name="system.levelIncrease"
                               value="{{system.levelIncrease}}"
                               data-dtype="Number"
                               {{#disabled system.override.active}}{{/disabled}} /></td>
                    <td><input type="text"
                               name="system.numAcquisitions"
                               value="{{system.numAcquisitions}}"
                               data-dtype="Number"
                               {{#disabled system.override.active}}{{/disabled}} /></td>
                    <td><input type="text"
                               name="system.otherBonuses"
                               value="{{system.otherBonuses}}"
                               data-dtype="Number"
                               {{#disabled system.override.active}}{{/disabled}} /></td>
                    <td><input type="number"
                               name="system.lvlAcquired"
                               value="{{system.lvlAcquired}}"
                               data-dtype="Number"
                               {{#disabled system.override.active}}{{/disabled}} /></td>
                    <td>
                        {{#if system.override.active}}
                            <input type="text"
                                   name="system.override.value"
                                   value="{{system.value}}"
                                   data-dtype="Number" />
                        {{else}}
                            <input type="text"
                                   name="system.value"
                                   value="{{system.value}}"
                                   data-dtype="Number"
                                   disabled="true" />
                        {{/if}}
                    </td>
                    <td><input type="checkbox"
                               name="system.override.active"
                               {{#checked system.override.active}}{{/checked}} /></td>
                </tr>
            </table>
        {{else}}
            <table>
                <tr>
                    <th>Base Value</th>
                    <th>Increase Per Level</th>
                    <th>Value</th>
                    <th>Generic Skill</th>
                </tr>
                <tr>
                    <td><input type="text"
                               name="system.baseValue"
                               value="{{system.baseValue}}"
                               data-dtype="Number" /></td>
                    <td><input type="text"
                               name="system.levelIncrease"
                               value="{{system.levelIncrease}}"
                               data-dtype="Number" /></td>
                    <td><input type="text"
                               name="system.value"
                               value="{{system.value}}"
                               data-dtype="Number"
                               disabled="true" /></td>
                    <td><input type="checkbox"
                               name="system.isGenericSkill"
                               {{#checked system.isGenericSkill}}{{/checked}} /></td>
                </tr>
            </table>
        {{/if}}
        <div class="tab">
            {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>
    </div>
</form>